### 模拟数据

In [8]:
import pandas as pd
import numpy as np
import json

In [3]:
df = pd.DataFrame({
    "订单号": [1,2,3],
    "销售员":["张三","李四","李四"],
    "跟单员":["李四","张三","李四"],
    "结单员":["李四","张三","王五"]
})

df

   订单号 销售员 跟单员 结单员
0    1  张三  李四  李四
1    2  李四  张三  张三
2    3  李四  李四  王五

In [4]:
df["员工"] = list(zip(df["销售员"],df["跟单员"],df["结单员"]))

df

   订单号 销售员 跟单员 结单员            员工
0    1  张三  李四  李四  (张三, 李四, 李四)
1    2  李四  张三  张三  (李四, 张三, 张三)
2    3  李四  李四  王五  (李四, 李四, 王五)

In [5]:
df.dtypes

订单号     int64
销售员    object
跟单员    object
结单员    object
员工     object
dtype: object

In [6]:
type(df.iloc[1,4])

tuple

In [19]:
t = '["向三","李四","王五","小明"]'
k = json.loads(t)
k

['向三', '李四', '王五', '小明']

In [17]:
type(k)

list